@charset "utf-8";
#ctnr, #hdr {
	width: auto;
	min-width: auto;
}
#hdr, #sld, .menu-toggle {
	overflow: hidden
}
#sld img, #staff li, #staff li img, #story li, #story li img {
	max-width: 100%
}
#dntem a, .events h2 {
	text-transform: uppercase
}
body {
	font-size: 18px
}
img.alignleft {
	display: block
}
h1 {
	font-size: 111.1%
}
.wp-caption {
	width: auto!important
}
#hdr, #logo, #logo a {
	width: 100%
}
img.alignleft, img.alignright {
	display: block;
	float: none;
	margin: 4px 0 12px
}
#logo, #tgl {
	display: table-cell;
	vertical-align: middle
}
#dntem, .menu-toggle {
	background-repeat: no-repeat;
	margin: 0
}
#hdr {
	background-image: none!important;
	background-color: #c75e28;
	display: table
}
#logo {
	flex: none;
	padding: 2px 10px 10px 0;
	float: none
}
#logo a {
	background-image: url(images/logo_mh.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 92% auto;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	vertical-align: middle
}
#tgl {
	padding: 0 7px 0 10px
}
#tgl span {
	display: none
}
.menu-toggle {
	background-image: url(images/icn_menu.png);
	background-size: 100% auto;
	background-position: 50%;
	display: inline-block;
	cursor: pointer;
	position: relative;
	width: 39px;
	height: 45px
}
#auxiliary, #dntem, #dntem a, #sbar, #sld .sld_ctnt, #sld img {
	display: block
}
#dnte, #navp, #navt, #srch {
	display: none
}
#dntem {
	border-top: 4px solid #fff;
	background-image: url(images/hdr_mob.jpg);
	background-position: 18% top;
	background-size: auto 100%;
	background-color: #f3b46f;
	clear: both;
	float: none;
	min-height: 78px
}
#dntem a {
	background: #00a0af;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 83.3%;
	margin: 23px 24px 0 0;
	padding: 3px 8px
}
#main {
	width: 100%;
	background: #fff
}
#cols {
	width: 100%;
	display: table
}
#ctnt, #sbar, #sld, #sld .cycle-slide {
	width: auto
}
.wp-caption-text {
	font-size: 72.9%;
}
@media (max-width: 308px) {
	#wearemh li {
		flex: 0 1 99%;
	}
}
@media (max-width: 572px) {
	#wearemh li {
		flex: 0 1 49%;
	}
}
#sbar {
	padding: 30px 16px 1px
}
#ctnt {
	display: table-header-group
}
#sld {
	border-top: 4px solid #fff;
	height: auto;
	padding: 0
}
#sld img {
	float: none;
	width: 100%;
	height: auto
}
#sld .sld_ctnt {
	float: none;
	width: auto
}
#sld .sld_ctnt .mid {
	display: block;
	height: auto;
	padding: 8px 16px 10px;
	vertical-align: middle
}
#sld .sld_ctnt p {
	margin-bottom: 0;
	font-size: 100%
}
#sld .sld_ctnt cite {
	font-size: 94.4%
}
#content {
	padding: 16px 16px 8px
}
#content a {
	display: inline-block
}
#content img {
	max-width: 516px;
	width: 100%;
	height: auto
}
#auxiliary .lc_row {
	display: table-row
}
#auxiliary .lc_row:last-child {
	display: table
}
#auxiliary .lc_col {
	width: 100%;
	display: block
}
#auxiliary .lc_col.pres {
	display: table-cell
}
#leaders_circle {
	display: block
}
#leaders_circle .lc_col {
	width: 100%;
	display: block
}
#content .events {
	float: none;
	margin: 0 0 18px;
	width: 100%
}
#content .events:last-child {
	margin-right: 0
}
#content .events li {
	margin: 0 0 18px
}
#annual_reports img, #newsletters img {
	max-width: calc(100% - 2px)
}
#annual_reports li, #newsletters li {
	float: none;
	margin-right: 2px
}
#annual_reports li h3, #newsletters li h3 {
	font-weight: 700;
	font-size: inherit
}
#staff li {
	float: none;
	margin: 0 0 24px;
	padding-top: 24px;
	border-top: 4px solid #d5d1cd;
	display: table
}
#staff li .img, #staff li .txt {
	display: table-cell;
	vertical-align: top
}
#staff li .img {
	width: 114px
}
#staff li .txt {
	padding-left: 16px
}
#story li {
	float: none;
	margin: 0 0 2em
}
#staff .cnt, #staff a {
	font-size: 83.3%
}
.events p {
	line-height: 1.5em
}
#evtterm {
	border-top: 4px solid #b2e2e7;
	margin: 1.5em 0 1.8em;
	display: block
}
#evtterm li {
	border-bottom: 4px solid #b2e2e7;
	list-style: none;
	color: #00a0af;
	font-size: 114.3%;
	font-weight: 700;
	margin: 0;
	padding: 10px 0
}
#evtterm li a {
	text-decoration: none
}
.events h2 {
	border-bottom: none;
	font-size: 121.4%
}
#field_1_31 .ginput_container:before, #field_1_32 .ginput_container:before, #field_1_33 .ginput_container:before, #field_1_37 .ginput_container:before {
	content: "$ "
}
.gform_wrapper .ginput_complex .ginput_full, .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
	margin-bottom: 10px!important
}
.gform_wrapper li.gf_list_inline ul.gfield_checkbox li, .gform_wrapper li.gf_list_inline ul.gfield_radio li {
	margin-right: 24px!important;
	padding-left: 1px!important
}
.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
	margin-top: 4px!important
}
.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
	margin-left: 20px!important
}
.gform_wrapper .gfield.gsection.h2 h2 {
	font-size: 14px
}
.gform_wrapper span.ginput_total {
	color: #000!important
}
.gform_wrapper .ginput_complex #input_7_2_4_container.ginput_right, .gform_wrapper .ginput_complex #input_7_2_5_container.ginput_left {
	float: none;
	width: 100%
}
#sig .gform_wrapper ul li.gfield {
	margin: 0 0 8px 0;
	padding-top: 0;
	width: auto;
	padding-right: 12px;
}
#sig .top_label div.ginput_complex.ginput_container.gf_name_has_1, #sig .top_label div.ginput_complex.ginput_container.gf_name_has_2, #sig .top_label div.ginput_complex.ginput_container.gf_name_has_3 {
	padding-right: 0;
	margin-bottom: -8px;
}
#sig .gform_wrapper div.ginput_container_name span {
	padding-right: 0;
}
#sig .gform_wrapper ul.gform_fields li.gfield input[name="input_6"] {
	width: 100%;
}
.ngg-imagebrowser {
	max-width: 698px;
	height: auto
}
.ngg-album-compact:nth-child(3n+1) {
	clear: none!important
}
.ngg-album-compact h4 {
	margin: 0!important
}
.ngg-album-compact p {
	margin-bottom: 12px!important
}
.vco-slider .slider-item .content .content-container .media {
	min-width: 100%;
	width: 100%;
	float: none!important
}
.vco-slider .slider-item .content .content-container .text {
	max-width: 100%;
	width: 100%!important;
	display: block!important;
	margin-top: 20px
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
	width: 100%!important;
	max-width: 100%!important
}
.vco-slider .slider-item .content {
	vertical-align: top
}
.vco-storyjs .vco-feature .slider, .vco-storyjs .vco-feature .vco-slider {
	box-shadow: none;
	float: left;
	padding-top: 15px;
	position: relative;
	width: 100%;
	z-index: 10
}
#tribe-events-content.tribe-events-list {
	padding: 1px 0px;
}
#tribe-events-content.tribe-events-single {
	padding: 2px 0px;
}
#ftr {
	padding: 38px 24px 12px;
	font-size: 18px
}
#sig .gform_wrapper ul.gform_fields li.gfield input[name="input_1.3"], #sig .gform_wrapper ul.gform_fields li.gfield input[name="input_1.6"], #sig .gform_wrapper ul.gform_fields li.gfield input[name="input_3"] {
	width: 100%;
}
#sig .gform_wrapper ul li.gfield {
	width: 100%;
	padding-right: 0;
}
#sig .gform_wrapper .gform_body {
	margin-bottom: 16px;
}
#sig .gform_wrapper .gform_body, #sig .gform_wrapper .gform_footer {
	float: none;
	width: 100%;
}
#info, #msthd {
	font-size: inherit
}
#info {
	overflow: hidden;
	margin-bottom: 8px;
	line-height: 17px
}
#info li {
	line-height: 1.3em;
	border-right: none
}
#info li#gmap {
	display: block
}
#info li span {
	font-weight: 700;
	width: 20px
}
#info li#addr span {
	font-weight: 400;
	display: block;
	width: auto
}
#info li#addr span:before {
	content: ''
}
#info li i {
	width: 20px;
	padding-right: 5px
}
#info em {
  display: block;
}
#scl li a {
	background-size: contain;
	height: 40px;
	width: 40px
}
#msthd {
	border-top: 4px solid #a39d94;
	padding-top: 32px
}
#msthd li {
	line-height: 1.1em
}
#msthd li:last-child {
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 600
}
#info li, #msthd li {
	float: none;
	display: block;
	padding: 0;
	margin-bottom: 1em
}
